@use "../shared/variables.scss" as variables;

.header {
  position: fixed;
  width: 100%;
  height: 50px;

  // background: linear-gradient(325deg, #ffffff, #fefbf1);
  color: variables.$textColor;
  z-index: 10000;

  .header__container {
    width: 100%;
    height: 100%;
    padding: 4px 8px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0 auto;
  }
  /* ↓ AVALANCHE  logo */
  .header__container__logo {
    flex: 1;
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    a {
      width: auto;
      height: 100%;
      overflow: hidden;

      * {
        width: auto;
        height: 100%;
      }
    }
  }

  /* Header Top */
  .header__container__links {
    margin-top: 9px;
    margin-right: 7px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    cursor: pointer;
    overflow: hidden;
    /* Hamburger Menu */
    > span {
      width: 100%;
      height: 2px;
      background: variables.$textColor;
      position: relative;

      &::before,
      &::after {
        content: "";
        width: 30px;
        height: 2px;
        background: variables.$textColor;
        position: absolute;
        top: -7px;
        left: 0;
        transition: all 0.3s ease-out;
      }
      &::after {
        top: unset;
        bottom: -7px;
      }

      &.active::before {
        transform: scaleX(0.3);
        transform-origin: right;
      }
      &.active::after {
        transform: scaleX(0.3);
        transform-origin: left;
      }
    }

    /* Mobile Menu */
    > .header__container__menu {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      position: fixed;
      top: 50px;
      right: 100%;
      width: 100%;
      height: calc(100% - 50px);
      transition: all 0.3s;

      background: linear-gradient(325deg, #ffffff, #fefbf1);
      color: variables.$textColor;
      padding: 7rem 0;
      pointer-events: none;
      z-index: 10;
      &.active {
        right: 0;
      }
      > a {
        color: variables.$textColor;
        font-size: 2.5rem;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s;
        padding: 10px 0;
        pointer-events: all;
        text-align: center;
      }

      > .accountSection {
        position: absolute;
        transform: translateX(-50%);
        top: 1rem;
        left: 50%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        pointer-events: all;

        > a:not(:last-child) {
          color: variables.$textColor;
          font-size: 2rem;
          text-align: center;
          border: 2px solid variables.$textColor;
          width: 100px;
          padding: 0 1rem;
        }
        /* Person Link Box */

        > a:last-child {
          color: variables.$textColor;
          font-size: 2rem;
          border: 2px solid variables.$textColor;
          padding-left: 0.5rem;
          padding-right: 0.5rem;
        }

        a {
          &:hover {
            background-color: variables.$textColor;
            color: variables.$textColor;
          }

          > svg {
            vertical-align: middle;
            padding-bottom: 0.2rem;
            margin-right: 0.5rem;
          }
        }
      }
    }
  }

  .error {
    font-size: 2rem;
    color: #f30000;
  }
}

@media only screen and (min-width: 768px) {
  .header {
    padding: 0 10px 0 20px;

    .header__container {
      justify-content: space-around;
      overflow: hidden;
      max-width: 880px;
    }
    .header__container__logo {
      flex: 0.25;
    }
    .header__container__links {
      position: unset;
      justify-content: space-evenly;
      flex: 0.75;
      height: 10vh;
      margin: 0;
      cursor: default;

      > a {
        color: variables.$textColor;
        font-size: 2rem;
        height: 100%;
        max-height: 40px;
        display: flex;
        align-items: center;
        transition: all 0.3s;
        padding: 0 10px;
        overflow: hidden;

        &:hover {
          color: rgb(172, 170, 170);
        }
        &:nth-child(5),
        &:nth-child(6) {
          border: 2px solid variables.$textColor;
          height: 70%;
          max-height: 40px;
        }
        &:nth-child(5):hover,
        &:nth-child(6):hover {
          color: var(--text);
          background-color: variables.$textColor;
        }
      }
    }
    .header__container__menu__admin {
      border: none;
    }
  }
}
@media (min-width: 768px) and (max-width: 769px) {
  .header__container__links > a {
    display: initial;

    max-width: 120px;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
