@use "../shared/common.scss" as GlobalDesign;
@use "../shared/variables.scss" as variables;

.live {
  @include GlobalDesign.Parent(true);
  flex-direction: column;
  align-items: center;

  .live__container {
    @include GlobalDesign.ParentContainer;

    /* Info Table */
    .live__table {
      width: 85%;
      max-width: 400px;
      margin: 0 auto;
      text-align: left;
      border-collapse: collapse;
      background-color: variables.$bgColor;

      tbody {
        color: variables.$textColor;
        border: 2px solid variables.$textColor;

        td.loading {
          background: #f3f2f2;
          background: linear-gradient(110deg, #f3f2f2 13%, #ffffff 18%, #f3f2f2 27%);
          border-radius: 5px;
          background-size: 200% 100%;
          animation: 1.5s Skelton linear infinite;
          min-width: 180px;
          height: 56px;
        }

        .live__table__title {
          text-align: center;
        }

        // tr
        .live__table__content {
          &:first-of-type {
            td:nth-child(2){
              font-weight: 900;
              background: linear-gradient(to right bottom, rgb(223, 45, 45) 20%, rgb(235, 104, 43) 40%, rgb(230, 42, 204) 60%,rgb(190, 26, 26) 80%);
              background-size: 200% auto;
              color: inherit;
              background-clip: text;
              -webkit-text-fill-color: transparent;
              
              animation: shine 1s linear infinite;
              @keyframes shine {
                to {
                  background-position: 200% center;
                }
              }
            }
          }

          td {
            font-size: 1.8rem;
            font-weight: 600;
            font-family: "MS Pゴシック", sans-serif;
            border: 2px solid variables.$textColor;
            padding: 4px 8px;
            text-align: center;
          }
        }
      }
    }

    // loading message
    .live__container__loading {
      text-align: center;
    }
  }
}

@media screen and (min-width: 769px) {
  .live {
    padding-bottom: 3rem;
  }
}

@keyframes Skelton {
  to {
    background-position-x: -200%;
  }
}
