@use "../shared/common.scss" as GlobalDesign;
@use "../shared/variables.scss" as variables;

.live {
  @include GlobalDesign.Parent(true);
  flex-direction: column;
  align-items: center;

  &__comment {
    max-width: 100%;
    text-align: left;
    font-size: 1.2rem;
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: -1.4rem;

    background: linear-gradient(to right bottom, rgb(223, 45, 45) 20%, rgb(235, 104, 43) 40%, rgb(230, 42, 204) 60%,rgb(190, 26, 26) 80%);
    background-size: 200% auto;
    color: inherit;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    
    animation: shine 1s linear infinite;
    @keyframes shine {
      to {
        background-position: 200% center;
      }
    }

    span {
      display: block;
      margin: 4px 0;
    }

    &.waiting {
      transform: translateY(0);
      animation: bounce 1s infinite;

      @keyframes bounce {
        0%, 100% {
          transform: translateY(-25%);
          animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
        }
        50% {
          transform: translateY(0);
          animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
        }
      }
    }
  }

  .live__container {
    @include GlobalDesign.ParentContainer;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    /* Info Table */
    .live__table {
      width: 85%;
      max-width: 400px;
      margin: 0 auto;
      text-align: left;
      border-collapse: collapse;
      background-color: variables.$bgColor;
      box-sizing: border-box;

      &.done {
        position: relative;
        border-color: rgba($color: variables.$subColor, $alpha: .4);

        &::after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: #fff;
          opacity: .8;
        }

        .live__comment {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          display: flex;
          flex-direction: column;
          align-items: center;
          z-index: 30;
          font-size: 1.6rem;
          font-synthesis: italic;
          text-align: center;
          line-height: 1.6;
          width: 100%;
          padding: 0 8px;
          -webkit-text-fill-color: variables.$subColor;
        }
      }

      tbody {
        color: variables.$textColor;
        border: 2px solid variables.$textColor;

        td.loading {
          background: #f3f2f2;
          background: linear-gradient(110deg, #f3f2f2 13%, #ffffff 18%, #f3f2f2 27%);
          border-radius: 5px;
          background-size: 200% 100%;
          animation: 1.5s Skelton linear infinite;
          min-width: 180px;
          height: 56px;
        }

        // tr
        .live__table__content {
          &__animTitle {
            font-weight: 900;
          }

          &__menu {
            width: 80px;
            font-size: 1rem !important;
            text-align: left;
          }

          td {
            font-size: 1.4rem;
            font-weight: 600;
            font-family: "MS Pゴシック", sans-serif;
            border: 2px solid variables.$textColor;
            padding: 4px 8px;
            
            span {
              display: block;
              margin: 4px 0;
            }
          }
        }
      }
    }

    // loading message
    .live__container__loading {
      text-align: center;
    }
  }
}

@media screen and (min-width: 769px) {
  .live {
    padding-bottom: 3rem;
  }
}

@keyframes Skelton {
  to {
    background-position-x: -200%;
  }
}
