@use "../shared/variables.scss" as variables;

.news {
  text-align: center;

  .news__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;

    width: 85%;
    max-width: 400px;
    margin: 0 auto 2rem;
    text-align: left;

    .news__container__block > .news__container__block__link {
      /* News Titles */
      position: relative;
      font-size: 20px;
      text-decoration: underline;

      .news__container__block__link::before {
        /* Dots for Newss Titles */
        content: "";
        position: absolute;
        transform: translateY(-50%);
        left: -12px;
        top: 47%;

        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: variables.$textColor;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .news {
    padding-bottom: 4rem;
  }
}
