$maxWidth: 600px;

@mixin Parent($bgImage: auto, $isNotTopPage: false) {
  padding-top: 50px;
  padding-bottom: 72px;
  flex: 1;
  background-image: $bgImage;

  @if $isNotTopPage {
    font-size: 1.6rem;
    text-align: center;

    display: flex;
    justify-content: center;
  }
}

@mixin ParentContainer {
  width: 100%;
  max-width: min(100%, $maxWidth);
  height: 100%;
}
