$maxWidth: 600px;

@mixin Parent($isNotTopPage: false) {
  flex: 1;

  @if $isNotTopPage {
    padding-top: 2rem;
    font-size: 1.6rem;
    text-align: center;

    display: flex;
    justify-content: center;
  }
}

@mixin ParentContainer {
  width: 100%;
  max-width: min(100%, $maxWidth);
  height: 100%;
}
