.passwordReset {
  padding-top: 50px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.passwordReset > h2 {
  margin: 1rem 0;
  font-size: 2.6rem;
}
.passwordReset > p {
  font-size: 1.6rem;
  width: 80%;
  text-align: center;
}
.passwordReset > form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}
.passwordReset > form > label {
  font-size: 2rem;
}
.passwordReset > form > input {
  padding: 0.5rem 1rem;
  font-size: 1.6rem;
  border: 2px solid #323232;
  outline: none;
}
.passwordReset > form > input:focus {
  border-color: rgb(41, 197, 67);
}
.passwordReset > form > button {
  padding: 0.5rem 2rem;
  font-size: 1.6rem;
  background: linear-gradient(to bottom, #323232 0%, #3f3f3f 40%, #1c1c1c 150%),
    linear-gradient(
      to top,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(0, 0, 0, 0.25) 200%
    );
  background-blend-mode: multiply;
  color: var(--text);
  border: none;
  outline: none;
  cursor: pointer;
  margin: 1rem 0;
}
.success {
  font-size: 2rem;
  color: rgb(41, 197, 67);
  text-align: center;
}
.error {
  font-size: 2rem;
  color: #f30000;
  text-align: center;
}
