.signup,
.login,
.updateProfile {
  padding-top: 50px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.signup__container,
.login__container,
.updateProfile__container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.signup__container > h2,
.login__container > h2 {
  /* font-size: 3rem; */
  font-size: 40px;
  margin-bottom: 20px;
}
.updateProfile__container > h2 {
  font-size: 2.6rem;
}
.signup__container > a,
.login__container > a {
  font-size: 1.6rem;
  text-decoration: underline;
  margin-bottom: 1rem;
}
.signup__container > form,
.login__container > form,
.updateProfile__container > form {
  width: 100%;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.signup__container > form > label,
.login__container > form > label,
.updateProfile__container > form > label {
  font-size: 2rem;
}
.signup__container > form > input,
.login__container > form > input,
.updateProfile__container > form > input {
  padding: 0.2rem 1rem;
  width: 60%;
}
.signup__container > form > button,
.login__container > form > button,
.updateProfile__container > form > button {
  padding: 0.5rem 3rem;
  font-size: 1.6rem;
  background: linear-gradient(to bottom, #323232 0%, #3f3f3f 40%, #1c1c1c 150%),
    linear-gradient(
      to top,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(0, 0, 0, 0.25) 200%
    );
  background-blend-mode: multiply;
  color: var(--text);
  border: none;
  outline: none;
  cursor: pointer;
  margin: 1rem 0;
}

.error {
  font-size: 2rem;
  color: #f30000;
}
