@use "../shared/common.scss" as GlobalDesign;
@import "../shared/mixin.scss";

.about {
  @include GlobalDesign.Parent(true);
  margin-top: -2rem;
  
  .about__container {
    @include GlobalDesign.ParentContainer;
    width: min(100%, 500px);

    > figure > img {
      width: 100%;
      max-width: 100%;
    }

    .about__band {
      > h3 {
        display: flex;
        justify-content: center;
        align-items: center;
        white-space: pre-wrap;
        font-size: clamp(32px, 36px, 40px);
        gap: .75rem;
      }
      /* Lines */
      > h3::before,
      > h3::after {
        content: "";
        flex: 1;
        height: 2px;
        background-color: var(--background);
      }

      > div {
        padding: 1rem 2rem;
      }

      > div > p {
        font-size: clamp(20px, 24px, 1.8rem);
        font-weight: 800;
        line-height: 1.8;
      }
    }

    @media screen and (min-width: 768px) {
      > figure > img {
        width: 70%;
      }
      > div {
        padding: 0 0 2rem 0;
      }
    }
  }
}

.members {
  @include center(column);
  width: min(100%, 500px);
  margin: 0 auto;

  > h3 {
    @include center();
    margin-bottom: 2rem;

    white-space: pre-wrap;
    font-size: clamp(32px, 36px, 40px);
    width: 100%;
    gap: .75rem;
  }

  /* Lines */
  > h3::before,
  > h3::after {
    content: "";
    flex: 1;
    height: 2px;
    background-color: var(--background);
  }

  .members__wrap {
    @include center(auto, 4rem);
    flex-wrap: wrap;
  }

  /* ------------
    Member.js
  -------------- */
  .member {
    position: relative;

    @include center(column, 12px);

    width: 100%;
    .member__des {
      display: flex;
      flex-direction: column;
      gap: 4px;
      font-size: 1.75rem;
      text-align: left;
      width: min(74%, 400px);
    }
    .member__infoWrapper {
      display: flex;
      align-items: center;
      gap: 2rem;

      .member__name__role {
        font-size: 28px;
        font-weight: 700;
      }
  
      .member__snsWrap {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        margin-top: 4px;
      }
    }
    .member__instagram,
    .member__twitter {
      color: #000;
      font-size: clamp(20px, 24px, 32px);
    }

    .member__imgWrap {
      width: 100%;
      max-width: 100%;
      height: 200px;
      max-height: 200px;
      overflow: hidden;

      > img {
        width: 100%;
        max-width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    /* fpr iPad and PC */
    @media screen and (min-width: 768px) {
      .member__des{
        width: 100%;
      }
      .member__snsWrap {
        top: 4%;
        right: 4%;
      }

      .member__imgWrap {
        height: auto;
        max-height: 400px;
      }
    }
  }
}