@use "../shared/common.scss" as GlobalDesign;

.about {
  @include GlobalDesign.Parent(
    linear-gradient(to top, #c79081 0%, #dfa579 100%)
  );

  .about__container {
    @include GlobalDesign.ParentContainer;

    > figure > img {
      width: 100%;
      max-width: 100%;
    }

    > div {
      padding: 0 2rem 2rem 2rem;
    }

    .about__band {
      > h3 {
        display: flex;
        justify-content: center;
        align-items: center;
        white-space: pre-wrap;
        font-size: clamp(32px, 36px, 40px);
      }
      /* Lines */
      > h3::before,
      > h3::after {
        content: "";
        flex: 1;
        height: 2px;
        background-color: var(--background);
      }

      > div > p {
        font-size: clamp(16px, 20px, 1.6rem);
        font-weight: 800;
      }
    }

    @media screen and (min-width: 768px) {
      > figure > img {
        width: 70%;
      }
      > div {
        padding: 0 0 2rem 0;
      }
    }
  }
}
