@use "../shared/common.scss" as GlobalDesign;

.information {
  @include GlobalDesign.Parent(
    linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%),
    true
  );

  .information__container {
    @include GlobalDesign.ParentContainer;

    figure {
      position: relative;
      width: 100%;
      max-width: 100%;

      img {
        width: 100%;
        max-width: 100%;
        object-fit: cover;
      }

      h2 {
        position: absolute;
        transform: translateX(-50%);
        left: 50%;
        bottom: 2rem;

        width: 100%;
        z-index: 10;

        color: var(--text);
        font-size: 3.75rem;
        font-family: "Dancing Script", cursive;
      }
    }

    /* Info Table */
    .information__table {
      width: 75%;
      max-width: 400px;
      margin: 0 auto;
      text-align: left;

      .information__table__title {
        text-align: center;
        font-size: 28px;
        text-decoration: underline;
        font-family: "MS Pゴシック", sans-serif;
      }

      .information__table__content {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;

        margin: 1.2rem 0;

        p {
          font-size: 1.8rem;
          font-weight: 600;
          font-family: "MS Pゴシック", sans-serif;
        }
      }
    }

    // Media Queries
    @media screen and (min-width: 769px) {
      > figure {
        width: 80%;
        margin: 0 auto;
      }
      > figure > img {
        width: 70%;
      }
    }
  }
}

@media screen and (min-width: 769px) {
  .information {
    padding-bottom: 3rem;
  }
}
