.information {
  padding-top: 50px;
  padding-bottom: 72px;
  flex: 1;
  font-size: 1.6rem;
  text-align: center;
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}

.information > figure {
  position: relative;
  width: 100%;
  max-width: 100%;
}

.information > figure img {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
}

.information > figure > h2 {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  bottom: 2rem;

  width: 100%;
  z-index: 10;

  color: var(--text);
  font-size: 3.75rem;
  font-family: "Dancing Script", cursive;
}

/* Info Table */
.information__table {
  width: 75%;
  max-width: 300px;
  margin: 0 auto;
  text-align: left;
}
.information__table > h3 {
  text-align: center;
  font-size: 28px;
}

.information__table p {
  font-size: 1.8rem;
  margin: 1.2rem 0;
  font-weight: 800;
}

@media screen and (min-width: 769px) {
  .information > figure > img {
    width: 70%;
  }
  .information {
    padding-bottom: 3rem;
  }
  .information > figure {
    width: 80%;
    margin: 0 auto;
  }
}
