.header {
  position: fixed;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background: linear-gradient(to bottom, #323232 0%, #3f3f3f 40%, #1c1c1c 150%),
    linear-gradient(
      to top,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(0, 0, 0, 0.25) 200%
    );
  background-blend-mode: multiply; */
  background: linear-gradient(325deg, #ffffff, #fefbf1);
  color: var(--background);
  z-index: 10000;
}
/* ↓ AVALANCHE */
.header__logo {
  flex: 1;
  width: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.header__logo > a {
  width: auto;
  height: 100%;
  overflow: hidden;
}
.header__logo > a * {
  width: auto;
  height: 100%;
}

/* Header Top */
.header__links {
  margin-top: 9px;
  margin-right: 7px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  cursor: pointer;
  overflow: hidden;
}
/* Hamburger Menu */
.header__links > span {
  width: 100%;
  height: 2px;
  background: var(--background);
  position: relative;
}
.header__links > span::before,
.header__links > span::after {
  content: "";
  width: 30px;
  height: 2px;
  background: var(--background);
  position: absolute;
  top: -7px;
  left: 0;
  transition: all 0.3s ease-out;
}
.header__links > span::after {
  top: unset;
  bottom: -7px;
}
.header__links > span.active::before {
  transform: scaleX(0.3);
  transform-origin: right;
}
.header__links > span.active::after {
  transform: scaleX(0.3);
  transform-origin: left;
}

/* Mobile Menu */
.header__links > .header__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  top: 50px;
  right: 100%;
  width: 100%;
  height: calc(100% - 50px);
  transition: all 0.3s;
  /* background: linear-gradient(to bottom, #323232 0%, #3f3f3f 40%, #1c1c1c 150%),
    linear-gradient(
      to top,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(0, 0, 0, 0.25) 200%
    );
  background-blend-mode: multiply; */
  background: linear-gradient(325deg, #ffffff, #fefbf1);
  color: var(--background);
  padding: 7rem 0;
  pointer-events: none;
  z-index: 10;
}
.header__links > .header__menu.active {
  right: 0;
}
.header__links > .header__menu > a {
  color: var(--background);
  font-size: 2.5rem;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  padding: 10px 0;
  pointer-events: all;
}

.header__links > .header__menu > .signinForm {
  position: absolute;
  transform: translateX(-50%);
  top: 1rem;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  pointer-events: all;
}
.header__links > .header__menu > .signinForm > a:not(:last-child) {
  color: var(--background);
  font-size: 2rem;
  text-align: center;
  border: 2px solid var(--background);
  width: 100px;
  padding: 0 1rem;
}
/* Person Link Box */
.header__links > .header__menu > .signinForm > a:last-child {
  color: var(--background);
  font-size: 2rem;
  border: 2px solid var(--background);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.header__links > .header__menu > .signinForm > a:hover {
  background-color: var(--background);
  color: var(--background);
}
.header__links > .header__menu > .signinForm > a > svg,
.header__links > a > svg {
  vertical-align: middle;
  padding-bottom: 0.2rem;
  margin-right: 0.5rem;
}
.error {
  font-size: 2rem;
  color: #f30000;
}

@media only screen and (min-width: 768px) {
  .header {
    padding: 0 10px 0 20px;
    justify-content: space-around;
  }
  .header__logo {
    flex: 0.25;
  }
  .header__links {
    position: unset;
    justify-content: space-evenly;
    flex: 0.75;
    height: 10vh;
    margin: 0;
    cursor: default;
  }
  .header__links > a {
    color: var(--background);
    font-size: 2rem;
    height: 100%;
    display: flex;
    align-items: center;
    transition: all 0.3s;
    padding: 0 10px;
    overflow: hidden;
  }
  .header__links > a:hover {
    color: rgb(172, 170, 170);
  }
  .header__links > a:nth-child(5),
  .header__links > a:nth-child(6) {
    border: 2px solid var(--background);
    height: 70%;
  }
  .header__links > a:nth-child(5):hover,
  .header__links > a:nth-child(6):hover {
    color: var(--text);
    background-color: var(--background);
  }
}
@media (min-width: 768px) and (max-width: 769px) {
  .header__links > a {
    display: initial;

    max-height: 40px;
    max-width: 120px;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
