.contact {
  padding-top: 50px;
  padding-bottom: 72px;
  flex: 1;
  text-align: center;
  background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
}
.contact > h2 {
  font-size: 40px;
}

.contact__other__means {
  margin: 2rem 4.5rem 0 4.5rem;
}

.contact__other__means > h4 {
  font-size: 1.6rem;
  color: var(--background);
}
.contact__other__means > div {
  display: flex;
  justify-content: space-around;
  width: 75%;
  margin: 0 auto;
}
.contact__other__means > div > a {
  color: var(--background);
  font-size: 4rem;
}
