:root {
  --background: rgb(43, 44, 44);
  --text: #fafafa;
}

.contactForm {
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  position: relative;
  border: 3px solid var(--background);
  border-radius: 3px;
  margin: 1rem 4.5rem;
  padding: 1rem;
}

.contactForm > form > div {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactForm > form > div > * {
  display: block;
  width: 80%;
}

.contactForm > form > div > label {
  font-size: 1.8rem;
  color: var(--background);
}

.contactForm > form > div > input {
  text-align: center;
}

.contactForm > form > div > input,
.contactForm > form > div > textarea {
  border: 1px solid var(--background);
  border-radius: 5px;
  background: var(--text);
  font-size: 1.6rem;
  padding: 3px 5px;
}

.contactForm > form > div > textarea {
  resize: none;
  height: 8rem;
}

.contactForm > form > button {
  background-image: linear-gradient(to top, #8699bd 0%, #bac8e0 100%);
  color: var(--text);
  outline: none;
  border: 2px solid var(--text);
  border-radius: 5px;
  padding: 3px 2rem;
  margin: 1rem 0;
  cursor: pointer;
}
.contactForm > form > button:hover {
  background: transparent;
}

@media screen and (min-width: 768px) {
  .contactForm {
    width: 40%;
    margin: 0 auto;
  }
  .contactForm > form > div > textarea {
    height: 20rem;
  }
}
