.test {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.text {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  background-image: linear-gradient(45deg, #112883, #293752);
  padding: 1% 2%;
  min-width: 400px;
  border-top: 4px solid #d1ad38;
  border-bottom: 4px solid #d1ad38;

  clip-path: polygon(
    0% 15%,
    8% 15%,
    8% 0,
    92% 0,
    92% 15%,
    100% 15%,
    100% 85%,
    92% 85%,
    92% 100%,
    8% 100%,
    8% 85%,
    0% 85%
  );

  color: #eeeeea;
  font-weight: 700;
  font-size: 40px;
  font-family: "Noto JP", "sans-serif";
}

/* .text::before {
  content: "";
  position: absolute;
  left: 10%;
  top: 0;

  width: 2px;
  height: 100%;
  background-color: #d1ad38;
} */
